
.articulo {
    display:flex;
    
    justify-content: space-between;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 300px;
    height: 600px;
    width: 1300px;

    
}

.articulo img {
    border-radius: 10px;
    height: 557px;
    width: 850px;
    margin: 20px 0px 20px 20px;
    
    
    
}

.contenido1 {
    
    display:flex;
    margin: 15px 15px 15px 0px;
    padding: 15px;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 420px;
    


}

.contenido2 {
    
    padding: 10px;
    width: 550px;
}

#titulo {
    display: grid;
    align-content: center;
}


#descripcion {

    font-size: large;
    margin: auto;
    
}


.precio {
    font-size: larger;
}

#precio button {
    border: 2.2px solid black;
    background-color: yellow;


}

#ofertar {
    border-radius: 10px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
    


}

#ofertante {
    
    font-size: smaller;
    margin-bottom: 10px;
}

#ofertante b {

    color: rgb(161, 87, 17);
}



#listaSeguimiento {
    background-color: rgb(207, 233, 135);
    width: auto;
}

#eliminar {
    background-color: red;
    margin-left: 5px;

}
.botones{

    display: flex;
    flex-direction: row;   
    
}



.comentarios {
    width: 400px;
    margin-top: 100px;
    margin-left: 300px
    
}

.comentarios > h3 {
    margin-bottom: 50px;
}

#ganador {
    margin: auto;
    transform: translate(300px, -350px);
    color: white;  
}

#ganador > strong {
    color: gold;
}
#comentario {
   transform: translate(0, 10px);
   font-size: large;
    
}

.comentario{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.usuario {
    font-size: medium;
    
}

#simboloUsuario {
    color:black;
    height: 45px;
}

#cronometro {
    background-color: #34495E; /* Gris oscuro */
    color: #ffff; /* Verde fluorescente */
    font-family: 'Digital 7'; /* Aplica la fuente Digital 7 */
    font-size: 48px;  /* Ajusta el tamaño del cronómetro */
    font-weight: 700; /* Ajusta el peso si es necesario */
         /* Ajusta el color del cronómetro */
    border: 4px solid rgb(66, 65, 65);
    padding: auto;
    margin: 10px 15px 15px 0px;
    border-radius: 10px;
    width: 97%;
    height: 70px;
    text-align: center;
    
    
}



#resetear {
    margin-left: 300px; 
    margin-top: 20px;   
    border: 2px solid black;
    background-color: purple;
    color: aqua;
    border-radius: 10px;
    padding: 5px;
}

.ofertar {
    display: flex;
    gap: 10px;
    height: 40px;
}
#confirmarOferta {
    height: 40px;
}
