

.entradas {

    margin-top: 100px;

    display: grid;
    place-items: center;
    
}

.entrada {
    margin-bottom: 30px;
    font-size: 22px;

}


.form-control, .form-select {
    width: 500px;
    background-color: #f8f9fa;
    border: 3px solid #34495E;
    font-size: 20px;

    
}

#imagen {

    width: 500px;
}

.btn-outline-success {
    border: 3px solid green;
    margin-bottom: 100px;
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
 }