

.entradas {
    margin-left: 100px;
    margin-top: 150px;
    
}

.entrada {
    margin-bottom: 30px;

}


.form-control, .form-select {
    width: 500px;
    background-color: #f8f9fa;
    margin: ;
    
}

#imagen {

    width: 500px;
}
#titulo  {
   
}



.botonsito {
    background-color: yellow;
 }