{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/articleBid.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

{% if message %}
    <script lang="javascript">
        window.alert("{{ message }}");
    </script>
{% endif %}


    <section class="articulo">
        <div class="iamgen">
            <img src="{{articulo.imagen}}">
        </div>
        
        <div class="contenido2">
        <div class="contenido1">

            <div id="titulo">
                <h1>{{articulo.titulo}}</h1>
            </div>

            

            <div id="descripcion">
                {{articulo.descripcion}}
                
            </div>

            <div id="precio">
                
              
                
                    <h2>{{oferta}}$</h2>
                    <div id="ofertante">
                        Ofertante actual: <b>{{ofertante}}</b>
                    </div>
                    
                <form method="post">
                    {% csrf_token %}
                    
                    <input type="number" id="ofertar" name="ofertar" value="{{ oferta|add:10 }}">
                
                    
                    <button type="submit">Ofertar</button>

                </form>
            </div>

            

        </div>

        <form method="post">
            <div id="listaSeguimiento">

            

                <input type="button" name="listaSeguimiento">{{mensajeSeguimiento}}</button>
            </div>
        </form>
        </div>

    </div>
 
    </section>

{% endblock %}