{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/articleBid.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}



    <section class="articulo">
        <div class="imagen">
            <img src="{{articulo.imagen}}">
        </div>
        
        <div class="contenido2">
            <div class="contenido1">

                <div id="titulo">
                    <h1>{{articulo.titulo}}</h1>
                </div>

                

                <div id="descripcion">
                    {{articulo.descripcion}}
                    
                </div>

                <div id="mensaje">
                    {% if errorMessage %}
                        {{ errorMessage }}
                    {% endif %}
                </div>


                <div id="precio">
                    
                
                    
                        <h2>{{oferta}}$</h2>
                        <div id="ofertante">
                            Ofertante actual: <b>{{ofertante}}</b>
                        </div>
                        
                    <form method="post">
                        {% csrf_token %}
                        
                        <input type="number" id="ofertar" name="ofertar" value="{{ oferta|add:10 }}">
                    
                        
                        <button type="submit"><strong>Ofertar</strong></button>

                       
                    </form>
         </div>

            

        </div>

        <div class="botones">

        <form method="post" action="{% url 'trackingList' articulo.id %}">
            {% csrf_token %}
                
            <button type="submit" name="listaSeguimiento" id="listaSeguimiento"><strong>{{message}}</strong></button>
        </form>

            {% if boton %}
                <form method="post" action="{% url 'deleteView' articulo.id %}">
                    {% csrf_token %}
                    <button type="submit" name="eliminar" id="eliminar"><strong>Eliminar</strong> articulo</button>
                </form>
            {% endif %}
            
            

        </div>
        

    </div>
 
    </section>

{% endblock %}