{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/index.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="categorias">
        <form method="post" action="{% url 'filter'%}">
            {% csrf_token %}

            {{ form.categoria.label_tag }} 
            {{ form.categoria }} 
            
            <button type="submit" id="confirmarCategoria"><strong>Filtrar</strong></button>
        </form>

    </section>
    <section class="subastas">
        
            {% for subasta in subastas %}
                <article class="articulo">
                   
                    <div id="titulo">
                        <h2>{{subasta.titulo}}</h2>
                    </div>
                    
                    <a class="link" href="{% url 'articleBid' subasta.id %}">

                        <div class="contenido">

                            <div class="imagen">
                                <img src="{{ subasta.imagen.url }}">
                            </div>
                            
                            <div class="descripcion">
                                <p>{{subasta.descripcion}}</p>
                            </div>

                            
                            <div class="oferta"> 
                                <h5>Oferta actual: {{subasta.ofertaActual}}</h5>
                            </div>
                        
                        </div>
                    </a>
                </article>
            {% endfor %}
        

    
    </section>

{% endblock %}