{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mb-1">
                    {% if user.is_authenticated %}

                        <div class="d-flex flex-column">
                            <li class="nav-item">
                              <img src="{% static 'auctions/logo.png' %}"class="logo">
                            </li>


                            <div class="d-flex">

                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Active listings</a>
                              </li>

                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="basicDropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías</a>
                                  <div class="dropdown-menu" aria-labelledby="basicDropdown">
                                      <a class="dropdown-item" href="{% url 'indexFiltrado' 'futbolistas' %}">Futbolistas</a>
                                      <a class="dropdown-item" href="{% url 'indexFiltrado' 'articulosLimpieza' %}">Artículos de limpieza</a>
                                      <a class="dropdown-item" href="{% url 'indexFiltrado' 'Accesorios' %}">Accesorios y joyas</a>
                                      <a class="dropdown-item" href="{% url 'indexFiltrado' 'todos' %}">Ver todos</a>
                                  </div>
                              </li>

                              <li class="nav-item ms-3">
                                <a class="nav-link" href="{% url 'create' %}">Create listing</a>
                              </li>
                              
                              <a class="nav-link" href="{% url 'whatchlist' %}">
                                Watchlist{% if seguidos %} <span>({{ seguidos }})</span>{% endif %}
                            </a>
                            

                              <li class="nav-item ms-3">
                                  <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                              </li>
                            </div>
                        </div>

                      
                    {% else %}
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="text-end text-light mr-5">
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
        </nav>
    
        {% block body %}
        {% endblock %}
    </body>
</html>

